.poppular{
    height: 90vh;
}
.poppular h1{
    margin-top: 45px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}
.poppitem{
   
    display: flex;
    gap: 25px;
    margin-left: 25px;
}